<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Yusra</title>
	<link href="{% static 'css/style.css' %}"  rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href=" {% static 'css/main.css' %}">
</head>

<body>
	<header>
		<div class="topbar">
			<div class="logo">
				<img src="images/yusra.png" alt="logo">
      </div>
      <nav>
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="pages/about.html">ABOUT</a></li>
          <li><a href="pages/articles.html">ARTICLES</a></li>
          <li><a href="#" class="donate">DONATE</a></li>
        </ul>
      </nav>
      </div>
    </header>
    <div class="overlay"></div>
    <div class="main-head">
        <h1>Help bring back these <span>SMILES</span></h1>
    </div>

     
    <section id="articles">
      <div class="articles">
      <h1>Latest Articles</h1>
      <ul class="latest_articles" id="latestArticles">
        <li>
          <a href="#">
          <div class="article">
          <img src="images/image01.jpg" alt="image">
          <div class="some">
            <p class="timePosted">Posted 2 days ago. <span>By &dash; DFID</span></p>
            <p>Lorem ipsum dolor amet post-ironic whatever knausgaard, coloring book deep...</p>
          </div>
          </div>
          </a>
        </li>
        <li>
          <a href="#">
          <div class="article">
          <img src="images/image01.jpg" alt="image">
          <div class="some">
            <p class="timePosted">Posted 2 days ago. <span>By &dash; DFID</span></p>
            <p>Lorem ipsum dolor amet post-ironic whatever knausgaard, coloring book deep...</p>
          </div>
          </div>
          </a>
        </li>
        <li>
          <a href="#">
          <div class="article">
          <img src="images/image01.jpg" alt="image">
          <div class="some">
            <p class="timePosted">Posted 2 days ago. <span>By &dash; DFID</span></p>
            <p>Lorem ipsum dolor amet post-ironic whatever knausgaard, coloring book deep...</p>
          </div>
          </div>
          </a>
        </li>
      </ul>
      <a href="../pages/articles.html" class="view">View All</a>
      </div>
    </section>

    <section class="action">
      <h1>See how you can make a difference.</h1>
      <div class="cards">
        <div class="card">
          <img src="images/Unicef.jpg" alt="">
          <a href="#">SUPPORT</a>
        </div>
         <div class="card">
          <img src="images/dwb.jpg" alt="">
          <a href="#">SUPPORT</a>
        </div>
         <div class="card">
          <img src="images/Unicef.jpg" alt="">
          <a href="#">SUPPORT</a>
        </div>
         <div class="card">
          <img src="images/dwb.jpg" alt="">
          <a href="#">SUPPORT</a>
        </div>
         <div class="card">
          <img src="images/Unicef.jpg" alt="">
          <a href="#">SUPPORT</a>
        </div>
         <div class="card">
          <img src="images/dwb.jpg" alt="">
          <a href="#">SUPPORT</a>
        </div>
      </div>
    </section>
   <br>

    <footer>
      <p>coryricht &copy; 2018, made by: Mufty007</p>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
